# Ignore everything in the project root except these specific files and directories
/public/storage/

# Allow these specific directories in the root
!/app/
!/resources/
!/routes/

# Allow specific directories within the storage directory
/storage/app/public/
!/storage/app/public/images/
!/storage/app/public/icons/
!/storage/app/public/scripts/
!/storage/app/public/css/
