.row-contain{
    width:90%;
    margin-left:5%;
    margin-right:5%;
}
.row-contain-tabs {
    margin-left: 8vw;
    margin-right: 0px;
}
.tab-contain-right{
    padding: 0 1% 0 2%;
}
.tab-contain-left{
    padding: 0 2% 0 1%;
}
.tab-contain{
    padding: 0 2% ;
}
.tab-contain-one{
    padding: 0 3% ;
}

.tab-menu{
    padding: 10px 5vw;
}
.disabled{
    background-color:lightslategray !important;
}