.row-contain{
    margin-left:8vw;
    margin-right:8vw;
}
.tab-contain-right{
    padding: 0 1% 0 2%;
}
.tab-contain-left{
    padding: 0 2% 0 1%;
}
.tab-contain{
    padding: 0 2% ;
}
.tab-contain-one{
    padding: 0 3% ;
}

.tab-menu{
    padding: 10px 20px;
}
.disabled{
    background-color:lightslategray !important;
}